<h1>退会します</h1>
<h1>よろしいですか？</h1>

<div>
  <%= link_to '退会しない', edit_user_path(@user.id), class: 'btn btn-primary mr-5' %>
  <%= link_to '退会する', users_withdraw_path(@user.id), class: 'btn btn-danger' %>
</div>