<div class='container main-image'>
  <div class='main-opacity d-flex align-items-center justify-content-center flex-column'>
    <h1 class='font main-text'>Easy Fashion</h1>
    <p class='text-light'>あなたの服選びを、より簡単に</p>
  </div>
</div>
